<style>
  .sunucusresmi {
    border-radius: 50% !important;
    border: 2px solid red;
    padding: 1px;
}
.avatar {
  border-radius: 50% !important;
  border: 2px solid red;
  padding: 1px;
}
#avatar2 {
    width: 200px;
    height: 200px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    text-align:center;
}
    #avatar2:hover {
        transform: translate(0px,-20px);
        -webkit-transform: translate(0px,-20px);
	}
  </style>


<title>Universal Code - ANA SAYFA</title>
<br><br>
<main class="container-fluid bg-lightdark" style="padding: 1rem;">
<div class="col-12 col-md-12 d-flex flex-column align-items-center justify-content-center text-center">
  <div id="avatar">
		<img class="sunucusresmi" height="100" width="100" src="https://i.hizliresim.com/OXQ8MQ.png">
</div><br>
    <h1 class="text-light font-weight-light">Universal Code</h1>
    <h2 class="text-light font-weight-light">
       Kodlama Destek ve Kod Paylaşım Sunucusu
  </h2>
  <p class="h4 text-light font-weight-light">
    Kodları görebilmek için <a href="/davet" target="_blank">Discord Sunucumuza</a> katılmanız gerekmektedir!
  </p>
  <!-- <p class="h4 text-light font-weight-light">
     <a href="/bilgilendirme" target="_blank">Kodlara bakmadan önce kesinlikle okuyunuz! (Tıkla git)</a>
  </p> -->
  <div class="btn-group mt-4">
    <a href="/bilgilendirme" target="_blank" class="btn btn-outline-warning btn-lg"> <i class="fas fa-cog"></i> Mutlaka Oku!</a>
    <a href="/davet" target="_blank" class="btn btn-outline-warning btn-lg"> <i class="fab fa-discord"></i> Discord Sunucumuza Katıl</a>
  </div>
  </div><br>
  <div class="container text-center">
<hr color="white">
<font color="white" size="5"><b>YETKILILER</b></font>
<br><br>
<br><br>

<div class="row">
<div id="avatar2">
		<img class="avatar" height="100" width="100" src="https://cdn.discordapp.com/avatars/727762846183849996/59eae4bfdb2fd52a3abffda3b1a409fe.png">
		<br>
		<font color="white">Loz 'Bey</font>
</div>
<div id="avatar2">
		<img class="avatar" height="100" width="100" src="https://cdn.discordapp.com/avatars/570987752842067969/a_ae2096e487503d56c5543f9d920c7d26.png">
		<br>
		<font color="white">Bayrakk ග</font>
</div>
<div id="avatar2">
		<img class="avatar" height="100" width="100" src="https://cdn.discordapp.com/avatars/730867491005399081/2d7542afc632d75b5ef7e2a084c0960c.png">
		<br>
		<font color="white">Dallas™</font>
</div>
</div>

  </div>
</main>